doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title= title 
    // Meta
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='#{ description }')
    meta(name='author', content='Muziek voor een Leven')
    meta(name='keywords', content='Music, muziek, stichting, foundation, life, children, ill, elderly, concerts, donations, young, musicians, non-profit')
    link(rel='publisher', href='https://www.google.com/+MuziekvooreenlevenNl')
    link(rel='canonical', href='https://www.muziekvooreenleven.nl')
    // facebook og
    meta(property='og:title', content='Muziek voor een Leven')
    meta(property='og:site_name', content='Muziek voor een Leven')
    meta(property='og:description', content='Muziek voor een Leven helps the children and elderly live a better life with Music')
    meta(property='og:url', content='https://www.muziekvooreenleven.nl')
    meta(property='og:type', content='website')
    meta(property='og:image', content='https://www.muziekvooreenleven.nl/assets/images/favicon.png')
    meta(property='fb:admins', content='100006625381631')
    link(rel='icon', href='./assets/images/favicon.png', type='image/png')
    link(rel='shortcut icon', href='./assets/images/favicon.png', type='image/png')
    // Global CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    // Plugins CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    // Theme CSS
    link#theme-style(rel='stylesheet', href='./assets/css/styles.css')
    //link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    script(type='application/ld+json').
      {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "https://www.muziekvooreenleven.nl",
      "logo": "https://www.muziekvooreenleven.nl/assets/images/favicon.png",
      "sameAs" : [
      "https://twitter.com/muziekveleven",
      "https://www.facebook.com/muziekvooreenleven",
      "https://www.google.com/+MuziekvooreenlevenNl"
      ]
      }
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-66920211-1', 'auto');
      ga('send', 'pageview');

  body.home-page
    #fb-root
    script.
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    script.
      window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
      t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);
      t._e = [];
      t.ready = function(f) {
      t._e.push(f);
      };
      return t;
      }(document, "script", "twitter-wjs"));

    != yield
    
    // ******FOOTER******
    footer.footer
      .footer-content
        .container
          .row
            .footer-col.col-md-3.col-sm-4.about
              .footer-col-inner
                ul
                  li
                    a(href='./about.html')
                      i.fa.fa-caret-right
                      | About us
                  li
                    a(href='./projects.html')
                      i.fa.fa-caret-right
                      | Projects
                  li
                    a(href='./contact.html')
                      i.fa.fa-caret-right
                      | Contact us
              // //footer-col-inner
            // //footer-col
            .footer-col.col-md-3.col-sm-4.contact
              .row
                p.tel.col-md-12.col-sm-4
                  i.fa.fa-gavel
                  strong KVK
                  |  58382259
                p.adr.clearfix.col-md-12.col-sm-4
                  i.fa.fa-usd.pull-left
                  span.adr-group
                    span.street-address
                      strong IBAN:
                      |  NL17 RABO 0192341243
                    br
                    span.postal-code
                      strong BIC:
                      |  RABONL2U
                    br
                    span.street-address.fix_rsin
                      strong RSIN:
                      |  853014425
                    br
            // //footer-col
            .footer-col.col-md-3.col-sm-12.contact
              .footer-col-inner
                .row
                  p.adr.clearfix.col-md-12.col-sm-4
                    i.fa.fa-map-marker.pull-left
                    span.adr-group.pull-left
                      span.street-address André Severinweg 12
                      br
                      span.region Maastricht
                      br
                      span.postal-code 6214 PM
                      br
                      span.country-name Netherlands
              // //footer-col-inner
            // //footer-col
            .footer-col.col-md-3.col-sm-12.contact
              .footer-col-inner
                .row
                  p.tel.col-md-12.col-sm-4
                    i.fa.fa-phone
                    | (+31) 634 355 529
                  p.email.col-md-12.col-sm-4
                    i.fa.fa-envelope
                    a(href='mailto:info@muziekvooreenleven.nl') info@muziekvooreenleven.nl
                  p.social.col-md-12.col-sm-4.col-xs-12
                    a(href='https://twitter.com/muziekveleven')
                      i.fa.fa-twitter
                    a(href='https://www.facebook.com/muziekvooreenleven')
                      i.fa.fa-facebook
                    a(href='https://www.youtube.com/channel/UCUntA9ZEzQAn28JpH-nJPhg')
                      i.fa.fa-youtube
                    a(href='./')
                      i.fa.fa-linkedin
              // //footer-col-inner
            // //footer-col
          .row.text-center
            form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
                  input(type='hidden', name='cmd', value='_s-xclick')
                  input(type='hidden', name='hosted_button_id', value='AXKE4R4YNWZMS')
                  input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif', border='0', name='submit', alt='PayPal - The safer, easier way to pay online!')
                  img(alt='', border='0', src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif', width='1', height='1')
            .fb-like(data-href='https://www.facebook.com/muziekvooreenleven', data-layout='button_count', data-action='like', data-show-faces='true', data-share='true', style='margin-right:10px')
            a.twitter-follow-button(href='https://twitter.com/muziekveleven')
              | Follow @muziekveleven
          br
          p.email.clearfix.text-center
            | Copyright 
            i.fa.fa-copyright
            |  2015 Muziek voor een Leven
      // //footer-content
    // //footer

    // Javascript
    script(async='', defer='', src='//code.jquery.com/jquery-1.11.3.min.js')
    script(async='', defer='', src='//code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(async='', defer='', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(async='', defer='', src='./assets/js/bootstrap-hover-dropdown.min.js')
    script(async='', defer='', src='./assets/js/back-to-top.js')
    script(async='', defer='', src='./assets/js/jquery.prettyPhoto.js')
    script(async='', defer='', src='./assets/js/jquery.flexslider-min.js')
    script(async='', defer='', src='./assets/js/main.js')
    #topcontrol(title='Scroll Back to Top', style='position: fixed; bottom: 5px; right: 5px; opacity: 0; cursor: pointer;')
      i.fa.fa-angle-up
