aside.page-sidebar.col-md-3.col-md-offset-1.col-sm-4.col-sm-offset-1
  section.widget.row-divider(style='background:#fff')
    h3.title Testimonials
    #testimonials-carousel.testimonials-carousel.carousel.slide
      .carousel-inner
        .item
          blockquote.quote
            i.fa.fa-quote-left
            |                                                 The children got acquainted with classical music and they loved it! They were lying on the ground with closed eyes listening to beautiful music. Many thanks to Muziek voor een Leven for this valuable educational concert!
          .row
            p.people.col-md-8.col-md-push-1
              span.name Sielke Smeets
              br
              span.title Coördinator &amp; muziekdocent, Adelante Mytylschool
        .item
          blockquote.quote
            i.fa.fa-quote-left
            |                                                 Emotional afternoon filled with Love and Music!! Please come back soon Muziek voor een Leven the children in the hospital loved you and your music!
          .row
            p.people.col-md-8.col-md-push-1
              span.name Sofie Salu
              br
              span.title  Pediatric Department UZ Leuven
        .item.active
          blockquote.quote
            i.fa.fa-quote-left
            |                                                 November 13 was the opening of the new pediatric department of AZM. Muziek voor een Leven gave wonderful musical moments to our children!
          .row
            p.people.col-md-8.col-md-push-1
              span.name L. Limpens
              br
              span.title  Pediatric Department AZM
      .carousel-controls
        a.prev(href='#testimonials-carousel', data-slide='prev')
          i.fa.fa-caret-left
        |                             
        a.next(href='#testimonials-carousel', data-slide='next')
          i.fa.fa-caret-right
  section.widget(style='background:#fff')
    h3.title All Enquiries
    p.tel
      i.fa.fa-phone
      | Tel: (+31) 634 355 529
    p.email
      i.fa.fa-envelope
      | Email: 
      a(href='#') info@muziekvooreenleven.nl
