.wrapper
  != partial("_navbar")
  // ******CONTENT******
  .content.container
    .page-wrapper
      header.page-heading.clearfix
        h1.heading-title.pull-left About us
        .breadcrumbs.pull-right
          ul.breadcrumbs-list
            li.breadcrumbs-label You are here:
            li
              a(href='./') Home
              i.fa.fa-angle-right
            li.current About
      .page-content
        .row
          article.contact-form.col-md-8.col-sm-7.page-row
            h3.title EDUCATION &amp; THERAPY
            p
              | Muziek voor een Leven is an organization of young and professional musicians who want to invest their art for the benefit of society.
              | Our mission is to contribute for the development of musical education in The Netherlands and provide the therapeutically qualities of music for the ones in need, such as the elderly and sick people.
            p
              | The goal of our concerts  is also to uncover Armenian cultural heritage and great history by presenting Armenian composers to Dutch society.
            h3.title What We Do:
            ul
              li Educational Concerts in Schools
              li Therapeutically Concerts in Hospitals
              li Concerts for the Elderly 
              li Music Lessons for Children
              li Private concerts
              li Educational Workshops for children
            p
              | By organizing these projects we provide young and professional musicians across the Netherlands the opportunity to present themselves in concert stages as well as teaching opportunities.
            div(style='width: 100%; float: left; margin-right: -100%; position: relative;')
              img(src='./assets/images/5.jpg', alt='', style='width:inherit')
              //
                p class="flex-caption">
                <span class="main">Donate now</span>
                <br>
                <span class="secondary clearfix">Help us enrich young people with music</span>
                </p
          != partial("_testimonials.jade")
