.wrapper
  != partial("_navbar")
  // ******CONTENT******
  .content.container
    .page-wrapper
      header.page-heading.clearfix
        h1.heading-title.pull-left Book a concert
        .breadcrumbs.pull-right
          ul.breadcrumbs-list
            li.breadcrumbs-label You are here:
            li
              a(href='./') Home
              i.fa.fa-angle-right
            li.current Book
        // //breadcrumbs
      .page-content
        .row
          article.contact-form.col-md-8.col-sm-7.page-row
            p
              | By booking a classical or jazz concert you will get a private concert for your event and we will be able to organize a concert in a school or hospital. For more information on booking a private concert, please contact.
            iframe(width='560', height='315', src='https://www.youtube.com/embed/SqxxwcHfyKU', frameborder='0', allowfullscreen='')
          aside.page-sidebar.col-md-3.col-md-offset-1.col-sm-4.col-sm-offset-1
            section.widget.has-divider(style='background:#fff')
              h3.title Postal Address
              p.adr
                span.adr-group
                  span.street-address André Severinweg 12
                  br
                  span.region Maastricht
                  br
                  span.postal-code 6214 PM
                  br
                  span.country-name Netherlands
            // //widget
            section.widget(style='background:#fff')
              h3.title All Enquiries
              p.tel
                i.fa.fa-phone
                | Tel: (+31) 634 355 529
              p.email
                i.fa.fa-envelope
                | Email: 
                a(href='#') info@muziekvooreenleven.nl
          // //page-sidebar
        // //page-row
      // //page-content
    // //page-wrapper
  // //content
  // //wrapper
