.wrapper
  != partial("_navbar")
    // ******CONTENT******
    .content.container
      .page-wrapper
        header.page-heading.clearfix
          h1.heading-title.pull-left Donate
          .breadcrumbs.pull-right
            ul.breadcrumbs-list
              li.breadcrumbs-label You are here:
              li
                a(href='./') Home
                i.fa.fa-angle-right
              li.current Donate
          // //breadcrumbs
        .page-content
          .row
            article.contact-form.col-md-8.col-sm-7.page-row
              h3.title Make a difference
              p
                | We are an organization dependent of donations and sponsorships.
                | Our expenses include honorary for musicians and organizational costs.
                | The members of Board of Trustees are not compensated.
                | We appreciate all kinds of support.
                | If you want to help us with your own expertise please contact us!
              h3.title Benefits for our donors
              p
                | We invite all donors to our concerts.
                | Get your own private lesson(s) or concert ( for donations above 1000 euros)
              |                             As an example:
              p
                strong 20
                |  - you will help us with transportation costs
              p
                strong  50
                |  - you will help us organizing a music lesson
              p
                strong 100
                |  - you will help us buying musical material
              p
                strong 300
                |  - you will  help us to organize a concert in a retirement house (2 musicians)
              p
                strong 600
                |  - you help us organizing a concert in a school or hospital (4 musicians)
              p
                strong 1000
                |  - you will help us organizing a social concert (includes private concert for you).
              h3.title Donate now!
              form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
                    input(type='hidden', name='cmd', value='_s-xclick')
                    input(type='hidden', name='hosted_button_id', value='AXKE4R4YNWZMS')
                    input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif', border='0', name='submit', alt='PayPal - The safer, easier way to pay online!')
                    img(alt='', border='0', src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif', width='1', height='1')
            aside.page-sidebar.col-md-3.col-md-offset-1.col-sm-4.col-sm-offset-1
              section.widget.has-divider(style='background:#fff')
                h3.title Bank Transfer
                p.adr
                  span.adr-group
                    strong IBAN:
                    span.street-address NL17 RABO 0192341243
                    br
                    strong BIC:
                    span.region RABONL2U
                    br
              // //widget
              section.widget(style='background:#fff')
                h3.title All Enquiries
                p.tel
                  i.fa.fa-phone
                  | Tel: (+31) 634 355 529
                p.email
                  i.fa.fa-envelope
                  | Email: 
                  a(href='#') info@muziekvooreenleven.nl
            // //page-sidebar
          // //page-row
        // //page-content
      // //page-wrapper
    // //content
    // //wrapper
