.wrapper
  != partial("_navbar")
    // ******CONTENT******
    .content.container
      .page-wrapper
        header.page-heading.clearfix
          h1.heading-title.pull-left Elderly
          .breadcrumbs.pull-right
            ul.breadcrumbs-list
              li.breadcrumbs-label You are here:
              li
                a(href='./') Home
                i.fa.fa-angle-right
              li
                a(href='projects.html') Projects
                i.fa.fa-angle-right
              li.current Elderly
          // //breadcrumbs
        .page-content
          .row
            article.contact-form.col-md-8.col-sm-7.page-row
              h3.title Concerts for Elderly People
              p
                | The concerts for elderly people have the goal to build the net of connection between the young elderly generations.
                | With this project we provide music, culture, wellness and care for the retired people. The other huge advantage of the project is an opportunity for the young musicians to perform concerts with a significant social value.
              div(style='width: 100%; float: left; margin-right: -100%; position: relative;')
                img(src='./assets/images/elderly.jpg', alt='Elderly paying attention during the concert', style='width:inherit')
                //
                  p class="flex-caption">
                  <span class="main">Donate now</span>
                  <br>
                  <span class="secondary clearfix">Help us enrich young people with music</span>
                  </p
            != partial("_testimonials.jade")