.wrapper
  != partial("_navbar")
  // ******CONTENT******
  .content.container
    .page-wrapper
      header.page-heading.clearfix
        h1.heading-title.pull-left General information
        .breadcrumbs.pull-right
          ul.breadcrumbs-list
            li.breadcrumbs-label You are here:
            li
              a(href='./') Home
              i.fa.fa-angle-right
            li.current General information
      .page-content
        .row
          article.contact-form.col-md-8.col-sm-7.page-row
            p
              strong Name of organization: 
              | Stichting Muziek voor een Leven
            p
              strong RSIN: 
              | 853014425
            p
              strong Address: 
              | André Severinweg 12, Maastricht, 6214 PM, Netherlands
            p
              strong Email: 
              | info@muziekvooreenleven.nl
            p
              strong Phone: 
              0634355529
            p
              strong Goal of the foundation: 
              | Make music and culture accessible to all the population, with a focus on music education, music therapy and supporting the young generation of artists.
            h3.title Main features of the current policy:
            p
              | Muziek voor een Leven organizes music
              | concerts and workshops with a focus on education, culture and youth development.
              | We are one of the few organizations in Limburg creating a bond between culture, education, young talent and social participation
            p
            h3.title Organization: 
            ul
              li Artur Mouradian-voorzitter
              li Kristina Rimkeviciute –secretaris en pennigmeester
              li Jeroen Riemsdijk-board member
              li Ieva Dudaite-board member
              li Levon Mouradian-board member
            h3.title Activities: 
            p
              | available on the website
            h3.title Jaarverslag: 
            p
              | available on the website
            p
            p
            h3.title How does the Stichting it’s funding?
            p
              | Stichting Muziek voor een Leven depends on sponsorships, donations and fundraising to create its activities.
              | The activities offered by the stichting are 100% free for the institutions (schools, hospitals and retirement houses).
            p
            h3.title How does the Stichting control the money?
            p
              | The foundation manages Bank account number:  1923.41.243 Stichting Muziek voor een Leven, Rabobank.
            p
              | At the end of the fiscal year (which runs from January 1 to December 31), the books are closed by the treasurer. From this, the annual accounts are drawn up consisting of the balance, profit and loss account, and financial statements.
              | The board assesses and verifies the documents and approves the documents through a signing. After the approval of overview published on the website.
            p
            h3.title How the Stichting spends its money?
            p
              | The foundation spends the funds on expenses such as:
            ul
              li Expenses with the musicians.
              li Marketing
              li Administration
            p
              | The members of the board do not get payed a salary.
              | The members of the board can only get money for expenses related to the activities of the stichting (up to the extent allowed by the Dutch Law).
            h3.title How we want to grow
            p
              | Stichting Muziek voor een Leven needs the Cultural ANBI Status in order to grow the number of concerts and activities and become one of the leading cultural institutions in the Netherlands creating a bond with youth, culture and music.
              | We want to find as many as possible private and corporate sponsors to grow the number of our activities.
              | It is part of our acknowledgment to offer music concerts to our sponsors.
