.wrapper
  != partial("_navbar")
  // ******CONTENT******
  .content.container
    .page-wrapper
      header.page-heading.clearfix
        h1.heading-title.pull-left Educational Concert Series
        .breadcrumbs.pull-right
          ul.breadcrumbs-list
            li.breadcrumbs-label You are here:
            li
              a(href='./') Home
              i.fa.fa-angle-right
            li
              a(href='news.html') News
              i.fa.fa-angle-right
            li.current Educational Concert Series
        // //breadcrumbs
      .page-content
          .row.page-row
            .news-wrapper.col-md-8.col-sm-7
              article.news-item
                p.meta.text-muted
                  | By: 
                  a(href='#') Admin
                  |  | Posted on: 21 Aug 2015
                p
                  |We are starting in April an &apos;&apos;Educational Concert Series&apos;&apos; in the city of Maastricht with the collaboration of the Geemente of Maastricht (Municipality of Maastricht).
                  Several schools will be selected in our city and we will start the concerts on April 2016.
                  We hope to reach many children with classical music, directly in their schools!
                  This will be a regular program for the next years.
                div(style='width: 100%; float: left; margin-right: -100%; position: relative;')
                  img(src='./assets/images/news/news7.jpg', alt='', style='width:original')
            // //news-wrapper
            aside.page-sidebar.col-md-3.col-md-offset-1.col-sm-4.col-sm-offset-1.col-xs-12
            //
              section class="widget has-divider">
              <h3 class="title">Other News</h3>
              <article class="news-item row">
              <figure class="thumb col-md-2 col-sm-3 col-xs-3">
              <img src="assets/images/news/news-thumb-1.jpg" alt="" />
              </figure>
              <div class="details col-md-10 col-sm-9 col-xs-9">
              <h4 class="title"><a href="news-single.html">Morbi bibendum consectetuer vulputate sollicitudin</a></h4>
              </div>
              </article>
              <article class="news-item row">
              <figure class="thumb col-md-2 col-sm-3 col-xs-3">
              <img src="assets/images/news/news-thumb-2.jpg" alt="" />
              </figure>
              <div class="details col-md-10 col-sm-9 col-xs-9">
              <h4 class="title"><a href="news-single.html">Sed tincidunt urna eget turpis pretium hendrerit</a></h4>
              </div>
              </article>
              <article class="news-item row">
              <figure class="thumb col-md-2 col-sm-3 col-xs-3">
              <img src="assets/images/news/news-thumb-3.jpg" alt="" />
              </figure>
              <div class="details col-md-10 col-sm-9 col-xs-9">
              <h4 class="title"><a href="news-single.html">Duis scelerisque erat iaculis</a></h4>
              </div>
              </article>
              <article class="news-item row">
              <figure class="thumb col-md-2 col-sm-3 col-xs-3">
              <img src="assets/images/news/news-thumb-4.jpg" alt="" />
              </figure>
              <div class="details col-md-10 col-sm-9 col-xs-9">
              <h4 class="title"><a href="news-single.html">Duis scelerisque erat iaculis</a></h4>
              </div>
              </article>
              </section
            // //widget
            //
              section class="widget has-divider">
              <h3 class="title">Upcoming Events</h3>
              <article class="events-item row page-row">
              <div class="date-label-wrapper col-md-3 col-sm-4 col-xs-4">
              <p class="date-label">
              <span class="month">FEB</span>
              <span class="date-number">18</span>
              </p>
              </div>
              <div class="details col-md-9 col-sm-8 col-xs-8">
              <h5 class="title">Open Day</h5>
              <p class="time text-muted">10:00am - 18:00pm<br>East Campus</p>
              </div>
              </article>
              <article class="events-item row page-row">
              <div class="date-label-wrapper col-md-3 col-sm-4 col-xs-4">
              <p class="date-label">
              <span class="month">SEP</span>
              <span class="date-number">06</span>
              </p>
              </div>
              <div class="details col-md-9 col-sm-8 col-xs-8">
              <h5 class="title">E-learning at College Green</h5>
              <p class="time text-muted">10:00am - 16:00pm<br>Learning Center</p>
              </div>
              </article>
              <article class="events-item row page-row">
              <div class="date-label-wrapper col-md-3 col-sm-4 col-xs-4">
              <p class="date-label">
              <span class="month">JUN</span>
              <span class="date-number">23</span>
              </p>
              </div>
              <div class="details col-md-9 col-sm-8 col-xs-8">
              <h5 class="title">Career Fair</h5>
              <p class="time text-muted">09:45am - 16:00pm<br>Library</p>
              </div>
              </article>
              </section
            section.widget.has-divider(style='background:#fff')
              h3.title Donate now!
              form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
                    input(type='hidden', name='cmd', value='_s-xclick')
                    input(type='hidden', name='hosted_button_id', value='AXKE4R4YNWZMS')
                    input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif', border='0', name='submit', alt='PayPal - The safer, easier way to pay online!')
                    img(alt='', border='0', src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif', width='1', height='1')
            section.widget.has-divider(style='background:#fff')
              h3.title Bank Transfer
              p.adr
                span.adr-group
                  strong IBAN:
                  span.street-address NL17 RABO 0192341243
                  br
                  strong BIC:
                  span.region RABONL2U
                  br
            // //widget
            section.widget(style='background:#fff')
              h3.title All Enquiries
              p.tel
                i.fa.fa-phone
                | Tel: (+31) 634 355 529
              p.email
                i.fa.fa-envelope
                | Email: 
                a(href='#') info@muziekvooreenleven.nl
        // //page-row
      // //page-content
    // //page
  // //content
  // //wrapper
