.wrapper
  != partial("_navbar")
    // ******CONTENT******
    .content.container
      .page-wrapper
        header.page-heading.clearfix
          h1.heading-title.pull-left Team
          .breadcrumbs.pull-right
            ul.breadcrumbs-list
              li.breadcrumbs-label You are here:
              li
                a(href='./') Home
                i.fa.fa-angle-right
              li.current Team
          // //breadcrumbs
        .page-content
          .row.page-row
            .team-wrapper.col-md-8.col-sm-7
              p
                | The organization is managed by the Board of Trustees which meet periodically to discuss the agenda of the foundation and further actions. The concerts are performed by young professional musicians from all over the Netherlands.
              .row.page-row
                figure.thumb.col-md-3.col-sm-4.col-xs-6
                  img.img-responsive(src='assets/images/team/artur.jpg', alt='Artur Mouradian')
                .details.col-md-9.col-sm-8.col-xs-6
                  h3.title Artur Mouradian
                  h4 Chairman
                  p
                    | The chairman is Artur Mouradian, age 24, born in Portugal as 4th generation of a musicians´ family, studied at the Conservatorium of Maastricht violin and viola and has obtained  two Bachelor Degrees.
                    | He is passionate for giving and teaching music to children. As a proof of his deep passion is the Stichting Muziek voor een Leven, which was established by Artur.  He has also organized several educational projects in the Netherlands, including some for children with autism, children in schools and children in hospitals.
              .row.page-row
                figure.thumb.col-md-3.col-sm-4.col-xs-6
                  img.img-responsive(src='assets/images/team/kristina.jpg', alt='Artur Mouradian')
                .details.col-md-9.col-sm-8.col-xs-6
                  h3.title Kristina Rimkeviciute
                  h4 Secretary (secretaris/penningmeester)
                  p
                    | Kristina Rimkeviciute, secretary, age 24, born in Litouwen, studied violin, chamber music and orchestra at the Conservatorium of Maastricht.
                    | Kristina is a member of the  ‘’Embassador’s Board’’ of the Conservatorium of Maastricht and was a member of the ‘’Student Council’’ of the Conservatorium of Maastricht.
                    | She is a member of the Gustav Mahler Jugendorchester and also works regularly with the Philarmonie Zuidnederland and DeFilharmonie. Kristina has been active organizing educational music projects in the Netherlands and Belgium.
              .row.page-row
                figure.thumb.col-md-3.col-sm-4.col-xs-6
                  img.img-responsive(src='assets/images/team/jeroen.jpg', alt='Jeroen Riemsdijk')
                .details.col-md-9.col-sm-8.col-xs-6
                  h3.title Jeroen Riemsdijk
                  h4 Board Member
                  p
                    | Jeroen Riemsdijk, member of the board, age 52 , born in the Netherlands. He is a concert pianist, chamber musician, teacher, researcher and writer.
                    | Jeroen is a piano and chamber music teacher at the Conservatorium of Maastricht.
                    | He is artistic director of ‘’Masters on Stage’’, with its own concert series in Amsterdam.
                    | Jeroen Riemsdijk is author of ‘’The Golden Finger Technique’’ which was written to help young pianists to achieve their best potential.
              .row.page-row
                figure.thumb.col-md-3.col-sm-4.col-xs-6
                  img.img-responsive(src='assets/images/team/ieva.jpg', alt='Leva Dudaite')
                .details.col-md-9.col-sm-8.col-xs-6
                  h3.title Leva Dudaite
                  h4 Board Member
                  p
                    | Leva Dudaite, member of the board, age 23, obtained a Bachelor Degree in piano at the Conservatorium of Maastricht and holder of Bachelor Degree in European Studies at the Maastricht University.
                    | The pianist has consequently been awarded diplomas and honorable mentions from the former Lithuanian president Valdas Adamkus and has given recitals in Lithuania, the Netherlands, Italy, Germany, Mexico and Czech Republic.
                    | Leva is also a dedicated piano instructor, he has several students in the area of Limburg and pianist at Stichting ‘’Muziek Jong voor Oud’’.
              .row.page-row
                figure.thumb.col-md-3.col-sm-4.col-xs-6
                  img.img-responsive(src='assets/images/team/levon.jpg', alt='Levon Mouradian')
                .details.col-md-9.col-sm-8.col-xs-6
                  h3.title Levon Mouradian
                  h4 Board Member
                  p
                    | Levon Mouradian, member of the board, age 55 born in Armenia, is one of the most prominent cellists in Europe. Prize winner of the world’s most prestigious music competitions ‘’Tchaicovsky’’,’’Pablo Casals’’ and ‘’Julio Cardona’’.
                    | Since 1994, Mouradian has been the main teacher of the cello class in the department of Arts at the State University in Evora, Portugal. He regularly gives advanced classes at the "Valle De Arlanza" Festival in Spain, Weikersheim, Germany and at the International Festival in Viana do Castello, Portugal. He has taught Master Class at the invitation of the University of Georgia (U.S.A.)
            // //team-wrapper
            != partial("_testimonials.jade")